// Descriptive color variables

$white         :  #fff;
$black         :  #000;
$grey          :  #878787;
$Aeroblue      :  #C9FFE5;
$Burgundy      :  #900020;


// Funtional color variables

$color-prim    :  $Burgundy;
$color-sec     :  $Aeroblue;
