// Descriptive color variables
$skyblue      :  #51ddfc;
$green        :  #63cc82;
$red          :  #e4757a;
$orange       :  #fd7856;
$purple       :  #927bc1;



//  Media query breakpoints
$break-m:  768px;


// Grid variables
$mintgreen          :           #80e8d1;
$turqoiuse          :           #4da2bb;
$malibu             :           #7ee6fd;
$lavender           :           #deb2ee;
$turtlegreen        :           #88d9a0;
$pinkrose           :           #ec9fa3;
$lightorange        :           #fd9f85;
$malibu             :           #7ee6fd;
$pinkrose           :           #ec9fa3;
