// Descriptive color variables
$Denim         :  #155CE5;
$grey          :  #878787;
$regent-st-blue : #add8e6;
$Purple        :  #7746CE;
$Burgundy      :  #900020;


//  Media query breakpoints

$break-m:  768px;
